.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: blue;
    font-size: 36px;
}

p {
    color: gray;
    text-align: justify;
    font-size: 18px;
}

img {
    width: 50%;
    border: 8px solid rgb(0, 0, 0);
    padding: 5px;
}

img:hover {
    transform: scale(1.5);
    transition: all 1s ease-in-out;
}
figcaption{
    font-style: italic;
    padding: 10px;
}