html {
  font-family: Arial, Helvetica, sans-serif; 
  }

.maintitle {
  color: seagreen;
  font-style: italic;
  text-shadow: 2px 2px 2px lightslategray;
}

#margins{
  margin-left: 40px ;
}

aside > h3{
  color: mediumseagreen ;
  text-decoration: underline;
}

footer{
  text-align: center;
  font-size: small;
  
}
li {
  padding: 10px;
  list-style-position: inside;
}
a {
  color: purple;
}